In [1]:
import numpy as np
import pandas as pd

#  Q9.a

In [3]:
a = pd.read_csv('Q9_a.csv')
a.head()

   Index  speed  dist
0      1      4     2
1      2      4    10
2      3      7     4
3      4      7    22
4      5      8    16

In [4]:
a.shape

(50, 3)

In [6]:
a.describe()

          Index      speed        dist
count  50.00000  50.000000   50.000000
mean   25.50000  15.400000   42.980000
std    14.57738   5.287644   25.769377
min     1.00000   4.000000    2.000000
25%    13.25000  12.000000   26.000000
50%    25.50000  15.000000   36.000000
75%    37.75000  19.000000   56.000000
max    50.00000  25.000000  120.000000

In [8]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Index   50 non-null     int64
 1   speed   50 non-null     int64
 2   dist    50 non-null     int64
dtypes: int64(3)
memory usage: 1.3 KB

In [11]:
a.skew()

Index    0.000000
speed   -0.117510
dist     0.806895
dtype: float64

In [12]:
a.kurt()

Index   -1.200000
speed   -0.508994
dist     0.405053
dtype: float64

# Q9.b

In [4]:
b = pd.read_csv('Q9_b.csv',index_col=[0])
b.head()

           SP         WT
1  104.185353  28.762059
2  105.461264  30.466833
3  105.461264  30.193597
4  113.461264  30.632114
5  104.461264  29.889149

In [41]:
df.shape

(50, 3)

In [37]:
b.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81 entries, 1 to 81
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SP      81 non-null     float64
 1   WT      81 non-null     float64
dtypes: float64(2)
memory usage: 1.9 KB

In [38]:
b.describe()

               SP         WT
count   81.000000  81.000000
mean   121.540272  32.412577
std     14.181432   7.492813
min     99.564907  15.712859
25%    113.829145  29.591768
50%    118.208698  32.734518
75%    126.404312  37.392524
max    169.598513  52.997752

In [39]:
b.skew()

SP    1.611450
WT   -0.614753
dtype: float64

In [40]:
b.kurt()

SP    2.977329
WT    0.950291
dtype: float64